@{
    ViewBag.Title = "AllProfiles";
}

@section Styles
{
    @Styles.Render("~/bundles/AllProfileViewStyles")
}

<div class=" custom-margin-top-10">
    <div class="layout-wrapper" >
          <div class="col-xs-12 " style="padding-left: 10px;">
        <div class="col-xs-12  no-padding-left no-padding-right">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">All Profiles</a></li>
            </ul>
        </div>
    </div>
    <br />
    <div class="col-xs-12 ">
        <div class="col-xs-12  no-margin-left no-margin-right no-padding-left no-padding-right">
            <div class="panel-group">
                <ul class="list-inline" data-bind="foreach: users()">
                    <li class="col-xs-6 col-md-4 col-lg-2 ">
                        <a data-bind="attr: {href: my.rootUrl + '/Profile/UserProfile?userId=' + UserId}">
                            <div data-bind="css: { 'panel-success': IsTrainer, 'panel-info': IsTrainee, 'panel-danger': IsManager}" class="panel" >
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img data-bind="attr: {src: PhotoUrl}" class="img-responsive img-circle profile-img">
                                        </div>
                                        <div class="col-xs-8">
                                            <div data-bind="text: FirstName"class="username"></div>
                                            <div data-bind="text: Designation"class="designation"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/AllProfileViewScripts")
}
