@{
    Layout = "";
}
@{
    ViewBag.Title = "PrintHandler";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link id="linkRootUrl" href="~/" /> 
    @Styles.Render("~/bundles/PrintHandlerMirrorStyles")

    <title>Print</title>
</head>
<body>
   @Html.Partial("_MirrorReport")
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    @Scripts.Render("~/bundles/PrintHandlerMirrorScripts");
</body>
</html>







