<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Name" value="MFDemoPlugin"/>
        <add key="Description" value="Writes the execution time MFDemoPlugin.txt file in C drive."/>
        <add key="InitialLoadTime" value="01/19/2010 04:45:00 PM"/>
        <!-- Execution time interval in mins e.g. 120 = 2 hrs below  -->
        <add key="ExecutionInterval" value="120"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
