@{
    ViewBag.Title = "User Setting";
}

@section Styles
{
    @Styles.Render("~/bundles/UserSettingViewStyles")
}

<div class="container-fluid">
    <div class="col-sm-12 no-padding-left">
        <div class="col-sm-2 nav-panel panel">
            <ul class="nav nav-pills nav-stacked">
                <li data-bind="click:function(){my.userSettingVm.markAsSelected('profile')}, css:{'active': my.userSettingVm.selectedSetting() == 'profile'}">
                    <a href="#" data-bind="click: function(){ my.notificationSettingVm.closeNotificationSetting(); my.addUserVm.openUserProfile(); }">My Profile</a>
                </li>
                @if (HttpContext.Current.User.IsInRole("Administrator") || HttpContext.Current.User.IsInRole("Manager"))
                {
                    <li data-bind="click:function(){my.userSettingVm.markAsSelected('manage profile')}, css:{'active': my.userSettingVm.selectedSetting() == 'manage profile'}">
                        <a href="#" data-bind="click:function(){my.notificationSettingVm.closeNotificationSetting(); my.addUserVm.openAllUsersProfile()}, visible: (my.meta.isAdministrator() || my.meta.isManager())">
                            Manage User
                        </a>
                    </li>
                }

                <li data-bind="click:function(){my.userSettingVm.markAsSelected('notification')}, css:{'active': my.userSettingVm.selectedSetting() == 'notification'}">
                    <a href="#" data-bind="click: function(){ my.addUserVm.closeDialogue(); my.notificationSettingVm.openNotificationSetting();}">Notification</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 content-div panel">
            @Html.Partial("_ProfileSetting")
            @Html.Partial("_NotificationSetting")
        </div>
    </div>
</div>


@section Scripts
{

    @Scripts.Render("~/bundles/UserSettingViewScripts")
}
