@{
    ViewBag.Title = "Courses";
}

@section Styles
{
    @Styles.Render("~/bundles/AllCoursesViewStyles")
}

<div class="container-fluid" id="divCoursesContainer">
    <div class="col-xs-12 no-right-margin no-left-margin" id="divSearchbar">
        <div id="divTagline" class="col-xs-8 col-xs-offset-2" >
            <h1>Spreading Knowledge <b><span class="smiley">:)</span></b></h1>
            <p>Unlocking the world of knowledge. Keep Learning, Keep Sharing.</p>
        </div>
        <div id="divSearch" class="input-group col-xs-6 col-xs-offset-3 " >
            <input data-bind="value: my.allCoursesVm.searchKeyword" type="text" class="form-control" placeholder="QBasics, Fortran, C.."/>
            <span class="input-group-addon" data-bind="click: my.allCoursesVm.loadCourses">
                <i class="glyphicon glyphicon-search"></i>
            </span>        
        </div>
    </div>
    <div class="col-xs-12 no-right-margin no-left-margin">
        <div id="divContentArea" class="col-xs-10 col-xs-offset-1 " >
            @if (HttpContext.Current.User.IsInRole("Manager") || HttpContext.Current.User.IsInRole("Trainer"))
            {
                <div class="col-xs-3 courses-list-item no-right-margin no-left-margin"  >
                    <div class="add-new-course" data-bind="click: function () { window.location.href = my.rootUrl + '/LearningPath/CourseEditorNew' }" >
                        <span>                            
                            <i class="glyphicon glyphicon-plus"></i>  
                            <span>New Course</span> 
                        </span>
                    </div> 
                </div>
            }
                <!-- ko foreach : my.allCoursesVm.allCourses -->
                <div class="col-xs-3 courses-list-item no-right-margin no-left-margin"  >
                    <div class="mask" >                    
                        <span class="course-thumb pos-r dib" >
                            @if (HttpContext.Current.User.IsInRole("Manager") || HttpContext.Current.User.IsInRole("Trainer"))
                            {
                                <span data-bind="click: function (event) { my.allCoursesVm.navigateToCourse(Id); event.stopPropagation(); }" class="lec-info display-flex">
                                    <span>Edit</span>
                                    <i class="glyphicon glyphicon-pencil"></i>                                 
                                </span>
                            }
                            <img class="img-responsive" data-bind="attr: { 'src': my.rootUrl + '/Uploads/CourseIcon/' + Icon }"/> 
                        </span>
                        <span class="box-second-row" data-bind="click: function () { alert('Men at work'); }">                      
                            <span class="title" data-bind="text: Name"></span>   
                            <span class="title description" data-bind="text: Description"></span>   
                            <input type="button" data-bind="" value="Get Started"/>
                        </span>               
                    </div>
                </div>
                <!-- /ko -->
            </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/AllCoursesViewScripts")
}
