@section Styles
{
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/StyleSheets/Course.css" rel="stylesheet" />
}

<div class="col-xs-12 no-padding-left no-padding-right">
    <div class="col-md-12 layout-wrapper">
        <div class="row layout-header-panel">
            <div class="col-md-2 layout-section">
                <img class="course-header-img" data-bind="attr: { src: courseInfo.Icon }" />
            </div>
            <div class="col-md-8 course-header-info">
                <h2 data-bind="text: courseInfo.Course.Name"></h2>
                <h4>
                    <b>
                        Author : <span data-bind="text : courseInfo.Course.AuthorName "></span>
                    </b>
                    <span data-bind="text : '(' + courseInfo.Course.AuthorMailId + ')'"></span>
                    
                </h4>
                
                <h3 data-bind="html: courseInfo.Course.Description"></h3>
                <h4>Estimated Duration : <span data-bind="text: courseInfo.Course.Duration"> </span> Days</h4>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-2 layout-left-panel course-index" >
                <label class="title" data-bind="text: courseInfo.Course.Name"></label>
                <div class="list" data-bind="foreach: courseInfo.Course.CourseSubtopics"  >
                    <ul class="subtopic">
                        <li data-bind="click: function () { $parent.showSelectedTopic($data); }, css: { 'selected': $root.selectedTopic.Id() == Id} ">
                            <span data-bind="text: Name"></span>
                            <ul class="links">
                                <!-- ko foreach: SubtopicContents -->
                                <li><i data-bind="visible:IsCompleted()"class="fa fa-check" aria-hidden="true">&nbsp;</i><span data-bind="text: Name"></span></li>
                                <!-- /ko -->
                                <li data-bind="visible: Assignments.length > 0">Assignment</li>
                            </ul>
                        
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-9 course-content">
                <h3 class="subtopic-header"><span data-bind="text: my.courseVm.selectedTopic.Name()"></span></h3>
                <h4 class="subtopic-description"><span data-bind="html: my.courseVm.selectedTopic.Description()"></span></h4>
                <div class="link-content" data-bind="foreach: my.courseVm.selectedTopic.SubtopicContents">
                    <div class="panel panel-default link-panel">
                        <div class="panel-heading link-header">
                            <h3 class="panel-title" style="display: inline-block"><span data-bind="text: Name"></span></h3>
                            &nbsp;
                            <i title="mark as read" class="fa" aria-hidden="true" data-bind="css:{'fa-check-square-o': IsCompleted(), 'fa-square-o': !IsCompleted()}, visible: !my.isNullorEmpty(IsCompleted()), click:$root.saveProgress"></i>
                            <span class="pull-right" style="display: inline-block" data-bind="visible: Url != null && Url.trim() !== ''">
                                <a data-bind="attr: { href: (my.isNullorEmpty(Url) || Url.toUpperCase().indexOf('HTTP') > -1) ? Url : ('http://' + Url) }" target="_blank"><i class="fa fa-external-link"> Browse Link</i></a>
                            </span>

                        </div>
                        <div class="panel-body">
                            <span data-bind="html: Description"></span>
                        </div>
                    </div>
                </div>
                <div class="link-content" data-bind="foreach: my.courseVm.selectedTopic.Assignments">
                    <div class="panel panel-default link-panel">
                        <div class="panel-heading assignment-header">
                            <h3 class="panel-title" style="display: inline-block">Assignment: <span data-bind="text: Name"></span></h3>
                            &nbsp;
                            <i title="mark as read" class="fa" aria-hidden="true" data-bind="css:{'fa-check-square-o': IsCompleted(), 'fa-square-o': !IsCompleted()}, visible: TraineeId > 0, click:$root.updateAssignmentProgress"></i>
                            &nbsp;
                            <span class="label label-info" data-bind="visible: IsCompleted() && !IsApproved()">pending for approval</span>
                            <span class="label label-success" data-bind="visible: IsCompleted() && IsApproved()">approved
                                <span>
                                    <!-- ko foreach: new Array(Rating())  -->
                                    <span class="glyphicon glyphicon-star"></span>
                                    <!-- /ko -->
                                </span>
                            </span>
                            <span class="label label-danger" data-bind="visible: !IsCompleted() && !IsApproved() && ApprovedBy > 0">reassigned</span>
                            <span class="pull-right" data-bind="visible: !my.isNullorEmpty(AssignmentAsset)"><i class="fa fa-download" aria-hidden="true"></i> <a title="download" target="_blank" data-bind="attr: { href: my.rootUrl + '/LearningPath/DownloadAssignment?fileName=' + AssignmentAsset }">Assignment</a></span>
                        </div>
                        <div class="panel-body">
                            <span data-bind="html: Description"></span>
                            
                        </div>
                        <div class="panel-footer" data-bind="visible:!my.isNullorEmpty(my.courseVm.courseInfo.TraineeId) && !my.meta.currentUser.IsTrainee && IsCompleted() && !IsApproved()">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" data-bind="value:NewFeedback.FeedbackText, IsFieldValidated: NewFeedback.IsFeedbackCommentValid(), validationMessage : 'Enter some feedback', click : function(){NewFeedback.ValidationMsg('');NewFeedback.IsFeedbackCommentValid(true);}" placeholder=" enter feedback"></textarea>
                            </div>
                            <label class="radio-inline"><input type="radio" value="3" data-bind="checked: NewFeedback.FeedbackType.FeedbackTypeId, attr:{name:'FeedbackType'+Id}">Approve</label>
                            <label class="radio-inline"><input type="radio" value="6" data-bind="checked: NewFeedback.FeedbackType.FeedbackTypeId , attr:{name:'FeedbackType'+Id}">Reassign</label>

                            <span data-bind="visible : NewFeedback.FeedbackType.FeedbackTypeId() == '3'">
                                &nbsp;&nbsp;&nbsp;
                                <span class="btn-group">
                                    <button data-bind="click: function(){NewFeedback.Rating(1);NewFeedback.ValidationMsg('');}" type="button" class="btn btn-sm btn-danger ">
                                        Slow <i data-bind="visible: NewFeedback.Rating() == 1" class="glyphicon glyphicon-ok" style="display: none;"></i>
                                    </button>
                                    <button data-bind="click: function(){NewFeedback.Rating(2);NewFeedback.ValidationMsg('');}" type="button" class="btn btn-sm  btn-warning ">
                                        Avg. <i data-bind="visible: NewFeedback.Rating() == 2" class="glyphicon glyphicon-ok" style="display: none;"></i>
                                    </button>
                                    <button data-bind="click: function(){NewFeedback.Rating(3);NewFeedback.ValidationMsg('');}" type="button" class="btn btn-sm  btn-primary ">
                                        Fast <i data-bind="visible: NewFeedback.Rating() == 3" class="glyphicon glyphicon-ok" style="display: none;"></i>
                                    </button>
                                    <button data-bind="click: function(){NewFeedback.Rating(4);NewFeedback.ValidationMsg('');}" type="button" class="btn btn-sm  btn-success ">
                                        Exp. <i data-bind="visible: NewFeedback.Rating() == 4" class="glyphicon glyphicon-ok" style="display: none;"></i>
                                    </button>
                                </span>
                            </span>
                            <button data-bind="click: $root.updateAssignmentProgressWithFeedback" type="button" class="btn btn-info pull-right">Add <i class="glyphicon glyphicon-send"></i></button>
                            <div data-bind="text:NewFeedback.ValidationMsg" style="color:red"></div>
                      </div>
                      <div class="panel-footer">
                              <!-- ko foreach: Feedback  -->

                              <div class="panel panel-white post panel-shadow">
                                  <div class="post-heading">
                                      <div class="pull-left meta">
                                          @*<div class="title h6" style="display: inline-block">
                                              <strong><a data-bind="text: AddedBy.FullName, attr: { href: my.rootUrl + '/Profile/UserProfile?userId=' + AddedBy.UserId }"></a></strong>
                                          </div>*@
                                          <h6 data-bind="text: Title" class="text-muted time" style="display: inline-block"></h6>
                                          <div style="display: inline-block; padding-left: 10px" data-bind="css: {
                                                            'rating-slow': Rating == 1,
                                                            'rating-Average': Rating == 2,
                                                            'rating-Fast': Rating == 3,
                                                            'rating-Exceptional': Rating == 4
                                                        }">
                                              <!-- ko foreach: new Array(Rating)  -->
                                              <span class="glyphicon glyphicon-star"
                                                    style="display: inline-block;"></span>
                                              <!-- /ko -->
                                          </div>
                                      </div>
                                      <div class="pull-right">
                                          <h6 data-bind="text: moment(AddedOn).format('MMMM Do YYYY, h:mm a')" class="text-muted time"></h6>
                                          <span class="title h6" style="display: inline-block">
                                              <strong><a data-bind="text: AddedBy.FullName, attr: { href: my.rootUrl + '/Profile/UserProfile?userId=' + AddedBy.UserId }"></a></strong>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="post-description">
                                      <p data-bind=" text: FeedbackText" style="white-space: pre-wrap;"></p>
                                  </div>
                              </div>
                              <!-- /ko -->
                          </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/ko.mapping.js"></script>
    <script src="~/Scripts/Custom/CourseService.js"></script>
    <script src="~/Scripts/Custom/Course.js"></script>
}