<link href="~/StyleSheets/CourseEditorNew.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="container-fluid editor-page">
    <div class="col-xs-12 no-margin-left no-margin-right no-padding-left no-padding-right layout-wrapper">
        <div class="col-xs-3 no-padding-left no-padding-right no-margin-left no-margin-right layout-section layout-left-panel">
            <div id="divTopicHeader" class="col-xs-12 no-padding-left no-padding-right no-margin-left no-margin-right" data-bind="css:{'course-in-edit':course.IsEditInProgress()}">
                <div class="col-xs-3  no-margin-left no-margin-right ">
                    <img class="img-responsive" data-bind="attr: { src: course.IconUrl() }" alt="Image not found!" />
                </div>
                <div class="col-xs-9 no-margin-left no-margin-right no-padding-left no-padding-right">
                    <div class="col-xs-10 no-margin-left no-margin-right no-padding-left no-padding-right">
                        <span class='course-heading' data-bind="text: course.Name() == '' ? 'New Course' : course.Name(), click: function () { $root.edit($data, 'course'); }"></span>
                    </div>
                    <div class="col-xs-2 no-margin-left no-margin-right no-padding-left no-padding-right">
                        <span>
                            <i data-bind="visible: course.IsEditInProgress()" class="fa fa-gear rotate"></i>
                            <i data-bind="visible: !course.IsEditInProgress()" class="fa fa-pencil" aria-hidden="true"></i> 
                        </span>   
                    </div>

                    <span class="col-xs-6 col-xs-offset-6 label label-info" data-bind="visible: !course.IsPublished()">Publish</span>
                </div>
            </div>
            <div id="divTopicList" class="col-xs-12 no-padding-left no-padding-right no-margin-left no-margin-right">


                <ul  data-bind="sortable: subtopicsList " class="col-xs-12 no-padding-left no-padding-right no-margin-left no-margin-right">
                    @*<li>
                        <span data-bind="click: function () { $root.edit($root.subtopic, 'subtopic') }, visible: course.Id() > 0" class=" add-topic">
                            <i class="fa fa-plus" aria-hidden="true">Add New Topic</i>
                        </span>
                    </li>*@

 
                    <li data-bind="click: function () { $root.edit($data, 'subtopic'); $root.getSubtopicContents($data); $root.getAssignments($data); }, css: { 'selected-subtopic': IsSelected(), 'editing-mode': IsEditInProgress() }">
                        <span data-bind="text: Name()"></span>
                        <span class="pull-right">
                            <i data-bind="visible: !IsEditInProgress()" class="fa fa-pencil" aria-hidden="true"></i>
                            <i data-bind="visible: IsEditInProgress()" class="fa fa-gear rotate"></i>
                        </span>
                    </li>

                </ul>
            </div>

            <div id="divSearchTopicList" data-bind="visible: filteredCourseList().length > 0">
                <ul data-bind="foreach: filteredCourseList">
                    <li data-bind="click: function () { $root.navigateToAnotherCourse(Id); }"><span data-bind="    text: Name"></span>
                        <i class="fa fa-pencil pull-right" aria-hidden="true"></i></li>
                </ul>
            </div>



            <div id="divTopicSearch" class="input-group col-xs-12 no-padding-left no-padding-right no-margin-left no-margin-right">
                <input type="text" class="form-control" data-bind="textInput: searchKeyword, click: getFilteredCourses, hasFocus: courseSearchHasFocus" class="search-course" placeholder="Search Courses..." />
                <span class="input-group-addon" data-bind="click: getFilteredCourses">
                    <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                </span>
            </div>
        </div>

        <div class="col-xs-7 layout-section">

            <div class="no-contents" data-bind="visible: !editorContent.HasContent()">
                <h2>No Content is Selected to Edit...</h2>
            </div>
            
            <div class="col-xs-12 no-padding-left no-padding-right no-margin-left no-margin-right " data-bind="visible: editorContent.HasContent()">
                <div id="divEditorButtonSection" class="col-xs-4 col-xs-offset-8 no-padding-left no-padding-right  no-margin-right">
                    <button class=" btn btn-success" data-bind="click: $root.saveChanges">
                        <span data-bind="text: editorContent.Id() > 0 ? 'Save Changes' : 'Save '" ></span>
                        <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true" ></i>
                    </button>
                    <button data-bind="click: $root.deleteData, visible: editorContent.Id() > 0" class="btn btn-warning">
                        <span> Delete </span>
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                    </button>                   
                </div>
             
                <div class=" col-xs-12 no-margin-left no-margin-right no-padding-left no-padding-right form-group">
                    <span class="col-xs-10">Heading:</span>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" data-bind="value: editorContent.Name" placeholder="Heading" />
                    </div>
                </div>

                <form class="col-xs-12  form-group" enctype="multipart/form-data" id="course-icon-upload-form" data-bind="visible: editorContent.HasIcon(), submit: $root.uploadImage">                   
                        <div class="col-xs-5">
                            <img data-bind="attr: { src: editorContent.IconUrl() }" alt="Image not found!" />
                            <input type="file" data-bind="attr: { id: 'form-file' + editorContent.Id() }" accept="image/*" />
                        </div>
                        <div class="col-xs-7">
                            <ul>
                                <li>
                                    <label data-bind="attr: { for: 'form-file' + editorContent.Id() }">Choose Image</label></li>
                                <li>
                                    <button type="submit"><i class="fa fa-cloud-upload" aria-hidden="true"></i>Upload</button></li>
                            </ul>
                        </div>
                </form>

                <div class="col-xs-12 no-margin-right no-padding-left no-padding-right" data-bind="visible: editorContent.HasUrl()">
                    <span class="col-xs-10">Url:</span>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" data-bind=" value: editorContent.Url" placeholder="Url" />
                    </div>
                </div>

                <div class="col-xs-12  no-margin-right no-padding-left no-padding-right">
                    <span class="col-xs-10">Description:</span>
                    <div class="col-xs-10">
                          <textarea class="" rows="5" id="ckeditor" data-bind="CKEDITOR: editorContent.Description, autoResizeTextArea: true"></textarea>
                    </div>                  
                </div>

            </div>
        </div>

        <div class="col-xs-2 no-padding-left no-padding-right no-margin-left no-margin-right layout-section layout-right-panel">

            <div id="divSubtopicContent">
                <div class="sub-panel-header">
                    <span class="">Subtopic Contents</span>
                </div>
                <ul>
                    <li data-bind="click: function () { $root.edit($root.subtopicContent, 'subtopicContent'); }">
                        <span  class=" add-subtopic-content">
                            <i class="fa fa-plus" aria-hidden="true">Add New Subtopic</i>
                        </span>
                    </li>
                    <!-- ko foreach: subtopicContentsList -->
                    <li data-bind=" click: function () { $root.edit($data, 'subtopicContent'); }, css: { 'selected-content': IsSelected(), 'editing-mode': IsEditInProgress() }">
                        <span data-bind="text: Name()"></span>
                       
                        <span class="pull-right">
                             <i data-bind="visible: IsEditInProgress()" class="fa fa-gear rotate"></i>
                            <i data-bind="visible: !IsEditInProgress()" class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
            <div id="divAssignment">
                <div class="sub-panel-header">
                    <span class="">Assignments</span>
                </div>

                <ul>
                    <li data-bind="click: function () { $root.edit($root.assignment, 'assignment'); }">
                        <span  class=" add-subtopic-content">
                            <i class="fa fa-plus" aria-hidden="true">Add New Assignment</i>
                        </span>
                    </li>
                    <!-- ko foreach: assignmentsList -->
                    <li data-bind=" click: function () { $root.edit($data, 'assignment'); }, css: { 'selected-content': IsSelected(), 'editing-mode': IsEditInProgress() }">
                        <span data-bind="text: Name()"></span>
                        
                        <span class="pull-right">
                            <i data-bind="visible: !IsEditInProgress()" class="fa fa-pencil" aria-hidden="true"></i>
                            <i data-bind="visible: IsEditInProgress()" class="fa fa-gear rotate"></i>
                        </span>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/CourseEditorNewViewScripts")
}
