
<link href="~/StyleSheets/CourseEditorNew.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />



<h2>Hello</h2>

@section Scripts
{
    @Scripts.Render("~/bundles/CourseEditorNewViewScripts")
}
