.profile-img {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}

.username {
    /*text-align: center;
    margin-top: 10px;*/
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    /*font-size: 1.5em;*/
    /*color: azure;*/
}

.designation {
    text-align: center;
    font-size: .75em;
    font-family: Verdana, Geneva, sans-serif;
}

.container-fluid {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

ul.list-inline>li {
    padding: 5px 5px;
}

#page-wrapper .nav-tabs>li.active>a, #page-wrapper .nav-tabs>li.active>a:focus, #page-wrapper .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: pointer;
    background-color: #2596F1;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
#page-wrapper .nav-tabs > li > a, #page-wrapper .nav-tabs > li > a:hover {
    border-color: #ccc #ccc #ccc;
    font-size: 10px;
}