.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/*.clearfix {
    // display: inline-block;
}*/

.profile-img {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}

.feedback-td {
    text-align: center;
    vertical-align: middle;
    }

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 9px 7px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: 'Orbitron'
}

.feedback-pending {
      position: absolute;
    display: block;
    width: 30px;
    top: -4px;
    left: 0;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    cursor: pointer;
}

.feedback-success {
     position: absolute;
    display: block;
    width: 30px;
    top: -4px;
    left: 0;
    height: 30px;
    background-color: forestgreen;
    border-radius: 15px;
    cursor: pointer;

}



.no-left-margin {
    margin-left: 0;
    padding-left: 0;
}

.no-right-margin {
    margin-right: 0;
    padding-right: 0;
}

/*.dashboard-user-row {
    padding: 10px 0 10px 0;
}*/

.dashboard-user-row,table tbody tr {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
      border-left: 2px solid #ccc;
        border-right: 2px solid #ccc;
}


i.glyphicon {
    cursor: pointer;
}

.rating-slow {
    color: red;
}

.rating-Average {
    color: orange;
}

.rating-Fast {
    color: blue;
}

.rating-Exceptional {
    color: green;
}

#divHeaderWrapper,table thead th {
    /*width: 99.6%;margin-left: -0.8%;*/
        color: #2196f3;
    font-size: 14px;
    font-weight: bold;
    background-color:  #e5f3fe;
  
        border: 1px solid #ccc;
      /*//  border: 1px solid blue;*/
    border-radius: 5px 5px 0 0;
}

#divTraineeSnapshotMainHeader {
     color: #fff ;
    font-size: 16px;
    background-color:#2596F1 ;
    text-align: center;
      /*//  border: 1px solid blue;*/
    border-radius: 5px 5px 0 0;
}

table tbody td {
    text-align: center;
    font-size: 14px; 
}

table thead th {
    border: none;
    border-radius: 0;
}

table thead tr:nth-child(1) th {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #fff;
}



.dashboard-users.col-xs-12,table th,table  td{
    padding: 10px 0 10px 0;
}
.user-collapser {
    position:absolute;
    height: 36px;
    width: 45px;
    cursor: pointer;
    z-index: 1000;
     margin-top: 11px;
    color: #2596F1;
}

.user-collapser i {
    right: 166%;
}

.spacer-top-bottom {
    padding: 10px 0 10px 0; 
}

.margin-top {
        margin-top: 14px;
}

th,td {
    font-weight: normal;
}

#page-wrapper a {
    color: inherit;
    text-decoration: none;
}

#page-wrapper a:hover 
{
     color:inherit; 
     text-decoration:none; 
     cursor:pointer;  
}

#divTraineeSnapshotMainHeader {
    border-bottom: 1px solid #FFF;
}

.collapsed .custom-glyph:before {
    content: "\e080" !important ;
}
/*Added for wz_tooltip styles*/
div#WzTtDiV {
    border-radius:15px;
    text-align: center;
    color: #fff;
    background: black!important;
    width:210px!important;
}
div#WzTtDiV table {
    border:none;
}
div#WzTtDiV table tr {
    border:none!important;
}
div#WzTtDiV table tbody tr td {
    list-style: none;
    padding:20px!important;
    background:black!important;
    color:white!important;
}
/*End of wz_tooltip styles*/

div#WzTtDiV table tbody tr td li {
    padding: 0 0 2px 0;
}

div#WzTtDiV table tbody tr td li:last-child {
    padding: 0;
}

.col-xs-4.spacer-top-bottom:after {
    content: "";
    position: absolute;
    width: 100%;
    right: 0;
    top: 1px;
    border-bottom: 1px solid #ccc;
}

.name-trainee:after {
       width: 75% !important;
      left: 0;
}
.pending-course .pending-course-name {
    display: block;
    font-size: 16px;
        color: #2596F1;
    padding: 3px 0 6% 0%;
}

.pending-course .pending-course-name:after {
    content: "";
    position: absolute;
    width: 80%;
    margin-top: 8%;
    left: 10%;
    border-bottom: 1px solid #ccc;

}
.pending-course .pending-course-count {
     font-family: 'Orbitron';
}

#WzTtDiV>div>table {
        width: 85% !important;
    overflow-wrap: break-word;
}

#WzBoDyI .feedback-success,#WzBoDyI .feedback-pending,#WzBoDyI .rating-Fast {
    position: static;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
#WzBoDyI span {
    font-size: 10px;
    font-weight: bold;
}
   