#divGPSUserHeader {
    color: #2196f3;
    font-size: 14px;
    font-weight: bold;
    background-color: #e5f3fe;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

#gpsMembersSettingPannel .panel-heading {
    color: #777;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

#gpsMembersSettingPannel .panel-footer, #gpsMembersSettingPannel .panel-heading {
    background-color: #fbfbfb;
    border: none;
}

#inputSelectedFilter,#inputSearchBar{
    width: 71% !important;
    padding: 1.2em;
}

#divGPSUserMainHeader {
    color: #fff;
    font-size: 16px;
    background-color: #5093ca;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

#divGPSUserSubHeader div {
    background-color: #e5f3fe;
}

.gps-user-row {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    margin-top: 4px;
    margin-bottom: 4px;
}

#divSyncContainer {
    margin-bottom: 10px;
}

.selected {
    background-color: #2596F1;
}

#divAutoCompleteTrainee ul {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 73.5%;
    left: 14.9%;
    max-height: 300px;
    overflow-y: auto;
    background: #192741;
    color: #ffffff;
}

#divAutoCompleteTrainee li {
    cursor: pointer !important;
    list-style: none;
    padding: 10px 0;
}

.div-search-bar .btn {
    border-radius: 0px;
    background-color: #ff0000;
    border-color: #ff0000;
    padding: .49em 2em;
    background-color: red;
    opacity: .7;
    font-weight: bold;
    color: #fff;
}

.div-search-bar .btn-default {
    color: #fff;
}

.div-search-bar .btn:hover {
    background-color: #ff0000;
    border-color: #ff0000;
}

#inputSearchBar {
    padding: 17px;
}

#divSearchBarContainer {
    margin-bottom: 10px;
}

#divEditImport button {
    background-color: #2196f3 !important;
    border-color: #46b8da !important;
    border-radius: 0px;
    padding: .49em 2em;
    background-color: red;
    opacity: .7;
    font-weight: bold;
    color: #fff;
}

.div-search-bar .btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary,
 .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

