#divGPSUserHeader {
    color: #2196f3;
    font-size: 14px;
    font-weight: bold;
   background-color: #e5f3fe;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

#divGPSUserMainHeader {
    color: #fff;
    font-size: 16px;
    background-color: #5093ca;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
#divGPSUserSubHeader div{
  background-color: #e5f3fe;
}
.gps-user-row {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}
#divSyncContainer {
    margin-bottom: 10px;
}
.selected {
    background-color: #2596F1;
}

#divAutoCompleteTrainee ul{
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 73.5%;
    left: 14.9%;
    max-height: 300px;
    overflow-y: auto;
    background: #192741;
    color: #ffffff;
}

#divAutoCompleteTrainee li {
    cursor: pointer !important;
    list-style: none;
    padding: 10px 0;
}
