@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 600px;
    padding: 8% 0 0;
    margin: auto;
    height: 450px;
}
#mindfireLogo{
    height: 50px;
    margin-top: 8px;
    margin-left: 84px;
}
.form {
    position: relative;
    z-index: 1;
    height: 100%;
    background: #FFFFFF;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        border: 0;
        margin: 0 0 0px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #0288D1;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .form button:hover, .form button:active, .form button:focus {
            background: #0277BD;
        }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .form .message a {
            color: #0288D1;
            text-decoration: none;
        }

    .form .register-form {
        display: none;
    }

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

    .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }

        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }

            .container .info span a {
                color: #000000;
                text-decoration: none;
            }

            .container .info span .fa {
                color: #EF3B3A;
            }

body {
    background: #81D4FA; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #81D4FA, #039BE5);
    background: -moz-linear-gradient(right, #81D4FA, #039BE5);
    background: -o-linear-gradient(right, #81D4FA, #039BE5);
    background: linear-gradient(to left, #81D4FA, #039BE5);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.validation-error {
    color: red;
    padding-top: 10px;
}

.btn-info {
    background: #5bc0de !important;
}

/*.form > label {
    top: 15px;
}*/

/* New login form css*/

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);

html {
    font-family: "Roboto";
}

/* BOX LOGIN */
.box {
    position: relative;
    margin: auto;
    height: 420px;
    top: -16px;
    left: 0;
    z-index: 200;
    right: 0;
    width: 400px;
    color: #666;
    border-radius: 3px;
    background: #FFF;
    margin-bottom: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}

#header {
    background: #2596F1;
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
}

#mindfireLogoContainer {
    width: 100%;
    height: 65px;
    position: relative;
}

#bottomHead {
    position: relative;
    background: #2596F1;
    height: 35px;
}

    #bottomHead::after {
        content: '';
        width: 0px;
        height: 0px;
        display: block;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 7px solid white;
        border-right: 7px solid rgba(0,0,0,0);
        border-left: 7px solid rgba(0,0,0,0);
        border-top: 7px solid rgba(0,0,0,0);
    }

.box h1 {
    margin-left: 20px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 300;
    color: #cfd8dc;
    line-height: 35px;
}

.box input[type="submit"] {
    background: #cfd8dc;
    border: 0;
    color: #2596F1;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 2px;
}

    .box input[type="submit"]:active {
        background: #009688;
        color: #263238;
    }

    .box input[type="submit"]:hover {
        background: #2596F1;
        color: #FFF;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

.box p {
    font-size: 14px;
    text-align: center;
}

.group {
    position: relative;
    margin-bottom: 35px;
    margin-left: 40px;
    margin-right: 40px;
    /*margin-top: 23px;*/
}

.inputMaterial {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

    .inputMaterial:focus {
        outline: none;
    }

/* LABEL ======================================= */

.box label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.box .inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
    top: -20px;
    font-size: 14px;
    left: -1px;
    color: #2596F1;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 315px;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #81D4FA;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
    width: 50%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

#footerBox {
    width: 100%;
    height: 50px;
    background: #2596F1;
    position: absolute;
    bottom: 0;
}

.footer-text {
    color: #cfd8dc;
}

@keyframes bounce-nds {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce-out-nds {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}


.profile-name {
    line-height: 60px;
    left: -70px;
    position: absolute;
    font-family: 'Roboto';
    color: #455a64;
}

    .profile-name:hover {
        text-decoration: underline;
    }

a:link, a:visited {
    text-decoration: none;
}

/*.username-group {
    margin-left: 40px;
    margin-top: 52px;
    margin-right: 40px;
    position: relative;
}

.password-group {
    margin-bottom: 137px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
}*/
input[type=text], input[type=password] {
    margin: 0 0 0px 0 !important ;
}
