.mirror-tab-group-header {
    padding: 11px;
    background: #192741;
    color: #fff;
}

    .mirror-tab-group-header span {
        font-size: 16px;
        font-weight: bold;
    }

        .mirror-tab-group-header span.mirror-tab-group-header-rating {
            font-size: 20px;
            text-align: right;
        }

.fake-loader > div {
    padding: 5px 0;
}

.fake-loader .fake-avatar {
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 20px;
    background: #ccc;
    margin: 0 10px 0px 0px;
    animation: opacitychange .1ms;
    -webkit-animation: opacitychange .1ms;
    animation-delay: 0;
    -webkit-animation-delay: 0;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.fake-loader .fake-details {
    display: inline-block;
    height: 16px;
    margin-top: 7px;
    background: #ccc;
    animation: opacitychange .5ms;
    -webkit-animation: opacitychange .5ms;
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.feedback-avatar {
    height: 30px;
    vertical-align: middle;
    width: 30px;
    padding: 0;
    border-radius: 16px;
}

div.text-muted {
    font-size: 12px;
}

.text-muted {
    color: #777;
}

.rating-slow {
    color: red !important;
}

.rating-Average {
    color: orange !important;
}

.rating-Fast {
    color: blue !important;
}

.rating-Exceptional {
    color: green !important;
}

.feedback-container {
    padding: 5px 0;
}

.feedback-container .feedback-details {
    margin-left: 3%;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    background-color: #FFF8DC;
    border-left: 3px solid #ffeb8e;
    cursor: pointer;
}

.feedback-summary-type {
    font-size: 12px;
    font-weight: bold;
    font-family: "Open Sans";
    color: #337ab7;
       
}

.feedback-summary-type:hover {
    text-decoration: underline;
     color: #23527c;
    transition: ease color .25s;
}

.thread-counter {
    font-family: 'Orbitron';
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.thread-container {
    margin-left: 56px;
}

@keyframes opacitychange {
    0% {
        opacity: .25;
    }

    33% {
        opacity: .66;
    }

    66% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}
