#divMirrorReport {
       margin-top: 3px; 
}

.fixed-height-children {
    max-height: 200px;
}

.fixed-height-children.doughnut {
    width: 200px;
    height: 200px;
}

.fixed-height-children.doughnut > div {
    height: 100px;
}

.data-counter-wrapper {
    height: 50px;
    background: #fff;
    top: 50px;
}

.metric-header span {
    display: block;
    text-align: center;
}

.data-counter span {
    display: block;
    text-align: center;
}

span.data-counter-value {
    font-size: 21px;
    font-family: "Orbitron";
    color: #fff !important;
}

div.exceptional-wrapper {
    background-color: green !important;
    border: 2px solid #fff;
}

div.slow-wrapper {
    background-color: red !important;
    border: 2px solid #fff;
}

div.fast-wrapper {
    background-color: blue !important;
    border: 2px solid #fff !important;
}

div.average-wrapper {
    background-color: orange !important;
    border: 2px solid #fff;
}

.data-counter-wrapper .mute {
       color: rgb(255, 247, 253) !important;
}

#divReportRandomReview .feedback-details
{
    float: none;
    white-space: pre-wrap;
    margin-left:  auto;
      margin-right:  auto;
}

.feedback-notes>label {
       
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    background-color: #FFF8DC !important;
    border-left: 3px solid #ffeb8e !important;
    display: block;
    font: inherit;
    font-size: 14px;
    white-space: pre-wrap;
}
.feedback-random-description {
      
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.list-container {
    padding: 5px 0 0 0;
}

.list-container .feedback-notes>label{
    background-color:rgba(214, 243, 247, 0.38) !important;
    border-left: 3px solid #2596F1 !important ;
   
    font-weight: bold;
}

#divMirrorSummaryArea .feedback-container {
    padding: 0;
}

