.trainee-cards {
    display: inline-flex;
    height: 100%;
    min-height: 100%;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.trainee-card {
    -ms-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: 18%;
    max-height: 150px;
    border-radius: 0.25px;
    border: black solid 1px;
    margin: 1%;
}