.nav-panel {
    margin-bottom: 0px;
    background-color: white;
    padding: 9px;
    height: 100%;
}

.nav-panel ul > li {
    border-bottom: 2px solid #efefef;
}

.nav-panel ul > li:last-child {
    border: none;
}
.content-div {
    padding: 0;
    width: 80%;
    background-color: white;
    height: 100%;
    margin-bottom: 0px;
    margin-left: 30px;
}