@{
    ViewBag.Title = "Learning Map";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
     @Styles.Render("~/bundles/LearningMapViewStyles")
}

<div class="container-fluid">
    <div class="col-sm-3">
        <ul data-bind="foreach: allLearningMaps">
            <li ><span data-bind="text: Title"></span>                 
        </ul>
    </div>
    <div class="col-sm-6">

    </div>
    <div class="col-sm-3">
        <ul data-bind="foreach: allCourses">
            <li ><span data-bind="text: Name"></span>                 
        </ul>
        <ul data-bind="foreach: allTrainees">
            <li ><span data-bind="text: FirstName"></span>                 
        </ul>
    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/LearningMapViewScripts")
}
