@{
    ViewBag.Title = "Learning Map";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
     @Styles.Render("~/bundles/LearningMapViewStyles")
}

<div class="container-fluid editor-page">
    <div class="col-xs-12 no-margin-left no-margin-right no-padding-left no-padding-right layout-wrapper">
      

    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/LearningMapViewScripts")
}
