<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Name" value="TrainingTracker.TaskScheduler" />
    <add key="Description" value="Responsible to run automated tasks for Training Tracker" />
    <add key="InitialLoadTime" value="01/19/2010 04:45:00 PM" />
    <!-- Execution time interval in mins e.g. 120 = 2 hrs below -->
    <add key="ExecutionInterval" value="3" />
    <!-- SMTP settings  -->
    <add key="FromName" value="Training Tracker"/>
    <add key="FromAddress" value="TrainingTracker@MindfireSolutions.com"/>
    <add key="ServiceLocation" value="uat"/>
    <add key="SMTP" value="Mindfire_SMtp"/>
    <add key="NoQueue" value="true"/>
    <add key="AllowedFailedAttempts" value="5"/>
    <add key="PickupDirectoryLocation" value="D:\00TestEmails\TT"/>

  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TrainingTrackerContainer" connectionString="metadata=res://*/DataAccess.TrainingTracker.csdl|res://*/DataAccess.TrainingTracker.ssdl|res://*/DataAccess.TrainingTracker.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=mindfire;database=TT_Capitalized&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.net>
    <mailSettings>
      <!-- SMTP Details -->
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="D:\00TestEmails\TT\"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>