@{
    ViewBag.Title = "Sessions";
}

@section Styles
{
    @Styles.Render("~/bundles/SessionViewStyles")
}

<div id="divSessionWrapper" class="col-md-12 no-padding-left no-padding-right">
    <div id="divCategories">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" data-bind="css: { active: settings.statusId() == 0 }, click: function () { settings.statusId(0); resetFilterAndGetData(); }"><a href="#"><i class="fa fa-globe icon-font icon-category"></i>ALL</a></li>
            <li role="presentation" data-bind="css: { active: settings.statusId() == 1 }, click: function () { settings.statusId(1); resetFilterAndGetData(); }"><a href="#"><i class="fa fa-bug icon-font"></i>UPCOMING</a></li>
            <li role="presentation" data-bind="css: { active: settings.statusId() == 2 }, click: function () { settings.statusId(2); resetFilterAndGetData(); }"><a href="#"><i class="fa fa-lightbulb-o icon-font"></i>PRESENTED</a></li>
            <li role="presentation" data-bind="css: { activeButton: settings.newSessionPanel() == true }, click: loadAddSessionPanel"><a href="#"><i class="fa fa-plus icon-font"></i>Add New Session</a></li>
        </ul>
    </div>

    <div id="divHelpContentArea" class="col-md-12 no-padding-left no-padding-right custom-margin-top-10" data-bind="visible: true" style="display: none;">
        <div class="col-md-4 no-padding-right no-padding-left">
            <div id="divForumQuestions" data-spy="affix" data-offset-top="197">
                <div class="row" id="divSearch">

                    <div class="col-md-12">
                        <div class="input-group category-list-search">
                            <input type="text" data-bind="value: settings.wildcard" class="form-control" placeholder="search by title or description...">
                            <div class="input-group-btn">
                                <div id="divSearchBar" class="btn btn-default" data-bind="click: function () { resetFilterAndGetData(); }">
                                    <i class="fa fa-search icon-font"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid no-padding-top" id="divSessions">
                    <div data-bind="foreach: AllSessions">
                        <div class="desc" data-bind="css: { descActive: Id == my.sessionVm.currentSession.Id() }, click: function () { my.sessionVm.loadSessionData(Id); }">
                            <div class="col-md-2 no-padding-left">
                                <div class="thumb">
                                    <img class="img-circle" data-bind="attr: { src: my.sessionVm.photoUrl(Presenter.ProfilePictureName) }" width="35px" height="35px" align="">
                                </div>
                                <div id="divQuickStatus">
                                    <span class="label label-success " data-bind="text: 'Upcoming', visible: (moment(moment(Date).format('MM/DD/YYYY')).isSameOrAfter(moment(my.sessionVm.todayDate).format('MM/DD/YYYY')))"></span>
                                    <span class="label label-danger " data-bind="text: 'Presented', visible: !(moment(moment(Date).format('MM/DD/YYYY')).isSameOrAfter(moment(my.sessionVm.todayDate).format('MM/DD/YYYY')))"></span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="col-xs-12 no-padding-left no-padding-right">
                                    <h4 class="col-xs-10 no-padding-left no-padding-right"><a href="#" data-bind="text: Title"></a></h4>
                                    <!-- ko if: Presenter.UserId == my.meta.currentUser.UserId && (moment(moment(Date).format('MM/DD/YYYY')).isSameOrAfter(moment(my.sessionVm.todayDate).format('MM/DD/YYYY'))) -->
                                    <div class="col-xs-2 btn btn-default no-padding-left no-padding-right" data-bind=" click: function () { my.sessionVm.editSessionData(Id); return false; }, clickBubble: false">
                                        <i class="fa fa-pencil icon-font"></i>
                                    </div>
                                    <!-- /ko -->
                                </div>
                                <p class="col-xs-12 no-padding-left no-padding-right text-muted">
                                    <span class="mut">By </span>
                                    <a href="#" data-bind="text: Presenter.FirstName + ' ' + Presenter.LastName"></a>
                                    <span class="mute">on</span>
                                    <span data-bind="text: moment(Date).format('Do MMMM YYYY')"></span>
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divPager">
                    <nav aria-label="..." data-bind="visible: sessions.PageCount() > 1">
                        <ul class="pager" style="margin: 0">
                            <li class="previous" data-bind="visible: sessions.CurrentPage() > 1, click: function () { getPreviousPage(); }"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                            <li class="next" data-bind="visible: sessions.CurrentPage() != sessions.PageCount(), click: function () { getNextPage(); }"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-8 no-padding-right">
            <div class="col-xs-12 no-padding-left no-padding-right" id="divAddEditSession" data-bind="visible: settings.newSessionPanel() === true || settings.EditAllowed() === true">
                <div class="col-xs-12 alert alert-danger" data-bind="visible: alerts.postValidation() != ''">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <div data-bind="html: alerts.postValidation"></div>
                </div>
                <div class="col-xs-8 no-padding-left no-padding-right">
                    <h4 class="mute">SESSION DETAILS</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label no-padding-top col-sm-2 no-padding-left no-padding-right">Title :</label>
                            <div class="col-sm-9  no-padding-right">
                                <input type="text" class="form-control" placeholder="Session Title"
                                       data-bind="value: currentSession.Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-padding-top col-sm-2 no-padding-left no-padding-right">Description :</label>
                            <div class="col-sm-9  no-padding-right">
                                <textarea class="form-control" rows="5" id="ckeditorPost" data-bind="CKEDITOR: currentSession.Description, autoResizeTextArea: true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label no-padding-top col-sm-2 no-padding-left no-padding-right">Date :</label>
                            <div class="col-sm-3  no-padding-right">
                                <input type="text" class="form-control" data-bind="datepicker: currentSession.Date, startDate: new Date(), value: currentSession.Date" />
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-11 no-padding-left no-padding-right">
                                <div class="pull-right">
                                    <button type="button" data-bind="click: validateAndAddUpdateSession" class="btn btn-primary">
                                        Submit
                                    </button>
                                    <button type="button" data-bind="click: cancelAddEditSession" class="btn btn-warning ">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-xs-4 no-padding-left no-padding-right ">
                    <h4 class="mute">ATTENDIES</h4>
                    <div class=" div-attendee-section">
                        <div class="row">
                            <div class="col-xs-12 no-padding-left no-padding-right">
                                <span class="custom-checkbox">
                                    <input type="checkbox" data-bind="click: function () { checkboxSelectAll(); return true; }, checked: my.sessionVm.settings.allSelected" id="ckbSelectAll" />
                                    <span class="box">
                                        <span class="tick"></span>
                                    </span>
                                </span>
                                <label for="ckbSelectAll" class="lblForCheckbox make-checkbox-label-in-align" data-bind="text: my.sessionVm.settings.allSelectedText">Select All</label>
                            </div>
                        </div>
                        <div data-bind="foreach: my.sessionVm.attendies">
                            <!-- ko if: IsActive===true -->
                            <div class="row">
                                <div class="col-xs-12 no-padding-left no-padding-right">
                                    <span class="custom-checkbox">
                                        <input type="checkbox" data-bind="attr: { id: 'ckb_' + UserId, value: UserId }, checkedValue: $data.UserId, checked: my.sessionVm.currentSession.Attendee, click: my.sessionVm.observeAttendee" />
                                        <span class="box">
                                            <span class="tick"></span>
                                        </span>
                                    </span>
                                    <label data-bind="attr: { 'for': 'ckb_' + UserId }, text: FirstName + ' ' + LastName" for="ckbSelectAll" class="lblForCheckbox make-checkbox-label-in-align">
                                    </label>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- ko if: settings.newSessionPanel() !== true && settings.EditAllowed() !== true -->
            <div class="col-xs-12 no-padding-left no-padding-right" id="divDisplaySessionDetails" data-bind="visible: settings.newSessionPanel() !== true && settings.EditAllowed() !== true">

                <div id="divBugHeaderDescription">
                    <h1 data-bind="text: currentSession.Title"></h1>
                    <p class="text-muted">
                        <span>by</span>
                        <a href="#" data-bind="text: currentSession.Presenter().FirstName + ' ' + currentSession.Presenter().LastName"></a>
                        <span>on</span>
                        <span data-bind="text: moment(currentSession.Date()).format('Do MMMM  YYYY')"></span>
                        <br />
                    </p>
                </div>
                <br />
                <h4 class="mute">AGENDA</h4>
                <p data-bind="html: currentSession.Description()"></p>
                <br />
                <hr class="postEnd" />
                <br />
                <div class="col-xs-12 no-padding-left no-padding-right" id="divSessionData">
                    <h4 class="mute">ASSETS</h4>
                    <div class="col-xs-3 no-padding-left no-padding-right" >
                        <form id="videoUploadForm" enctype="multipart/form-data" data-bind="visible: my.isNullorEmpty(currentSession.VideoFileName())">
                            <label class="form-control lable-upload" data-bind="style: { backgroundColor: !my.isNullorEmpty(currentSession.VideoFileName()) ? '#192741' : '#2596F1' }">
                                <span class="fa fa-film "></span>
                                <span class="" data-bind='text: my.isNullorEmpty(currentSession.VideoFileName()) ? "Upload Session Video" : "Watch Video"'></span>
                                <input type="file" name="file" data-bind="fileInput: my.sessionVm.settings.sessionVideo, disable: !my.isNullorEmpty(currentSession.VideoFileName())" class="hidden" accept="video/mp4,video/*" />
                            </label>                           
                            <span data-bind="visible: my.isNullorEmpty(currentSession.VideoFileName())" class="upload-message">Accept only mp4, webm, ogg</span>
                        </form>
                        <div data-bind="visible: !my.isNullorEmpty(currentSession.VideoFileName())">
                            <label class="form-control lable-upload" data-bind="click: loadSessionVideo, style: { backgroundColor: '#192741' }">
                                <span class="fa fa-film"></span>
                                <span >Watch Video</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-3 col-xs-offset-3" >
                        <form id="slideUploadForm" enctype="multipart/form-data" data-bind="visible: my.isNullorEmpty(currentSession.SlideName())">
                            <label class="form-control lable-upload" data-bind=" style: { backgroundColor: !my.isNullorEmpty(currentSession.SlideName()) ? '#192741' : '#2596F1' }">
                                <span class="fa fa-file"></span>
                                <span class="" data-bind='text: my.isNullorEmpty(currentSession.SlideName()) ? "Upload Session Slide" : "Download Slide"'></span>
                                <input type="file" name="file" data-bind="fileInput: my.sessionVm.settings.sessionSlide, disable: !my.isNullorEmpty(currentSession.SlideName())"
                                       class="hidden" accept=".ppt,.pptx" />
                            </label>
                            <span data-bind="visible: my.isNullorEmpty(currentSession.SlideName())" class="upload-message">Accept only .ppt file</span>
                        </form>
                        <div data-bind="visible:!my.isNullorEmpty(currentSession.SlideName())">
                            <label class="form-control lable-upload" data-bind="click: downloadSessionSlide, style: { backgroundColor: '#192741' }">
                                <span class="fa fa-file"></span>
                                <span >Download Slide</span>
                            </label>
                        </div>
                    </div> 
                    <hr class="postEnd" />
                </div>
               
                <div id="divSessionAttendies">
                    <h4 class="mute">ATTENDIES</h4>
                    <div id="divAttendiesList" class="col-xs-12 no-padding-left no-padding-right" data-bind="foreach: my.sessionVm.currentSession.Attendee">
                        <div class="col-md-2 no-padding-left" data-bind="click: function () { my.sessionVm.redirectToUserProfile($data); }">
                            <div class="thumb">
                                <img class="img-circle" data-bind="attr: { src: my.sessionVm.photoUrl(my.sessionVm.getUserImage($data)) }" width="50px" height="50px" align="" src="/Uploads/ProfilePicture/Dummy.jpg">
                            </div>
                            <div class="user-name">
                                <span class="" data-bind="text: my.sessionVm.getUserFullName($data)">Presented</span>
                            </div>
                        </div>
                    </div>

                </div>
                 

            </div>

           
            <!-- /ko -->
        </div>
    </div>
</div>

    <div class="modal fade" id="videoModal" role="dialog">
        <div class="modal-dialog div-video-modal">
            <div class="modal-content">
                <div class="modal-body">
                    <video id="my-video" class="video-js vjs-default-skin vjs-volume-control"
                           controls preload="auto" width="" height="320"
                           poster="~/Uploads/video_poster.jpg"
                           data-setup='{ "children": { "controlBar": { "children": { "volumeMenuButton": { "volumeBar": { "vertical": true } },
                            "muteToggle": false, "volumeControl": false }}}}'>
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnStopVideo" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


@section Scripts
{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/SessionViewScripts")
}

