<div class="col-xs-12 no-padding-left no-padding-right" style="background: #ECEAEB;">
    <!-- ko if: my.mirrorSummaryVm.settings.panelVisibility.AssignmentPanel() == true -->
    <div class="mirror-tab-group no-padding-left no-padding-right">
        <div class="col-xs-12 no-padding-left no-padding-right mirror-tab-group-header">
            <span class="col-xs-6 mirror-tab-group-header-title">Assignment Feedbacks</span>
            <span class="col-xs-4 col-xs-offset-2 mirror-tab-group-header-rating">--</span>
        </div>
        <div class="col-xs-12 no-padding-left no-padding-right mirror-tab-group-container">
            <!-- ko if: my.mirrorSummaryVm.settings.customLoader.AssignmentPanel() == true -->
            <div class="col-xs-12 fake-loader">
                <div class="col-xs-12">
                    <span class="col-xs-1 fake-avatar"></span>
                    <span class="col-xs-8  fake-details"></span>
                </div>
                <div class="col-xs-12">
                    <span class="col-xs-1 fake-avatar"></span>
                    <span class="col-xs-8  fake-details"></span>
                </div>
            </div>
            <!--/ko-->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: my.mirrorSummaryVm.settings.panelVisibility.CodeReviewPanel() == true -->
    <div class="mirror-tab-group no-padding-left no-padding-right">
        <div class="col-xs-12 no-padding-left no-padding-right mirror-tab-group-header">
            <span class="col-xs-6 mirror-tab-group-header-title">Code Reviews</span>
            <span class="col-xs-4 col-xs-offset-2 mirror-tab-group-header-rating">--</span>
        </div>
        <div class="col-xs-12 no-padding-left no-padding-right mirror-tab-group-container">
             <!-- ko if: my.mirrorSummaryVm.settings.customLoader.CodeReviewPanel() == true -->
            <div class="col-xs-12 fake-loader">
                <div class="col-xs-12">
                    <span class="col-xs-1 fake-avatar"></span>
                    <span class="col-xs-8  fake-details"></span>
                </div>
                <div class="col-xs-12">
                    <span class="col-xs-1 fake-avatar"></span>
                    <span class="col-xs-8  fake-details"></span>
                </div>
            </div>
            <!--/ko-->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: my.mirrorSummaryVm.settings.panelVisibility.RandomReviewPanel() == true -->
    <div class="mirror-tab-group no-padding-left no-padding-right">
        <div class="col-xs-12 no-padding-left no-padding-right mirror-tab-group-header">
            <span class="col-xs-6 mirror-tab-group-header-title">Random Reviews</span>
            <span class="col-xs-4 col-xs-offset-2 mirror-tab-group-header-rating">--</span>
        </div>
        <div class="col-xs-12 no-padding-left no-padding-right mirror-tab-group-container">
             <!-- ko if: my.mirrorSummaryVm.settings.customLoader.RandomReviewPanel() == true -->
            <div class="col-xs-12 fake-loader">
                <div class="col-xs-12">
                    <span class="col-xs-1 fake-avatar"></span>
                    <span class="col-xs-8  fake-details"></span>
                </div>
                <div class="col-xs-12">
                    <span class="col-xs-1 fake-avatar"></span>
                    <span class="col-xs-8  fake-details"></span>
                </div>
            </div>
            <!--/ko-->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: my.mirrorSummaryVm.settings.panelVisibility.SkillsPanel() == true -->
    <div class="mirror-tab-group no-padding-left no-padding-right">
        <div class="col-xs-12 no-padding-left no-padding-right mirror-tab-group-header">
            <span class="col-xs-6 mirror-tab-group-header-title">Skill Feedbacks</span>
            <span class="col-xs-4 col-xs-offset-2 mirror-tab-group-header-rating">--</span>
        </div>
        <div class="col-xs-12 no-padding-left no-padding-right mirror-tab-group-container">
             <!-- ko if: my.mirrorSummaryVm.settings.customLoader.SkillsPanel() == true -->
            <div class="col-xs-12 fake-loader">
                <div class="col-xs-12">
                    <span class="col-xs-1 fake-avatar"></span>
                    <span class="col-xs-8  fake-details"></span>
                </div>
                <div class="col-xs-12">
                    <span class="col-xs-1 fake-avatar"></span>
                    <span class="col-xs-8  fake-details"></span>
                </div>
            </div>
            <!--/ko-->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: my.mirrorSummaryVm.settings.panelVisibility.WeeklyFeedbackPanel() == true -->
    <div class="mirror-tab-group no-padding-left no-padding-right">
        <div class="col-xs-12 no-padding-left no-padding-right mirror-tab-group-header">
            <span class="col-xs-6 mirror-tab-group-header-title">Weekly Feedbacks</span>
            <span class="col-xs-4 col-xs-offset-2 mirror-tab-group-header-rating">--</span>
        </div>
        <div class="col-xs-12 no-padding-left no-padding-right mirror-tab-group-container">
             <!-- ko if: my.mirrorSummaryVm.settings.customLoader.WeeklyFeedbackPanel() == true -->
            <div class="col-xs-12 fake-loader">
                <div class="col-xs-12">
                    <span class="col-xs-1 fake-avatar"></span>
                    <span class="col-xs-8  fake-details"></span>
                </div>
                <div class="col-xs-12">
                    <span class="col-xs-1 fake-avatar"></span>
                    <span class="col-xs-8  fake-details"></span>
                </div>
            </div>
            <!--/ko-->
        </div>
    </div>
    <!-- /ko -->
</div>
