
<div style="display: none" data-bind="visible: my.notificationSettingVm.isVisible">
    <div class="panel" id ="notificationPanel">

        <div class="panel-heading">
            <span class="panel-title">Customize Email Alert for Trainees</span>
        </div>
        <div class="panel-body">
            <ul>
                <!-- ko foreach : my.notificationSettingVm.traineeList -->
                <li>
                    <input type="checkbox" data-bind="attr:{id:'TraineeId'+SubscribedForUserId, value:SubscribedForUserId}, checked: IsDeleted">
                    <label data-bind="attr:{for:'TraineeId'+SubscribedForUserId}" class="pull-right">
                        <i class="" aria-hidden="true" data-bind="attr:{class: !my.isNullorEmpty(IsDeleted()) && !IsDeleted() ? 'fa fa-bell subscribed' : 'fa fa-bell unsubscribed'}"></i>
                    </label>
                    <span data-bind="text:FirstName"></span>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <div class="panel-footer">
            <button data-bind="click: my.notificationSettingVm.saveNotificationSetting"
                    type="button" class="btn btn-sm btn-primary col-sm-offset-9">
                Save
            </button>
        </div>
    </div>
</div>

